
Project Name: Relaxr
Client: Your Relaxr
Author: Clifton Jadoo
Developer @GA in NYC



/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
    
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: auto;
  height: 500px;
}

header {
   background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
   height:500px;
   padding: 25px 90px 0px 90px;
}

header h1 {
  font-weight: 800;
  font-size: 30px;
  color:white;
}

header h2 {
  font-size: 30px;
  font-weight:700;
  margin-top:65px;
  color:white;
  text-align: center;
}

.getbutton {
  border-radius: 5px;
  font-weight: 700;
  background-color: yellow;
  width: 220px;
  height:50px;
  font-size: 20px;
  margin: 40px auto 0px;
  display:block;
  padding: 10px 40px 14px 40px;
  text-align: center;
}

.benefits {
  padding: 50px 80px 50px 100px;
  background-color: #f0efef;
  clear:both;
}

.benefits h1 {
  font-size:32px;
  margin-bottom: 25px;
  font-weight: 700;
  color:#033048;
}

.benefits p {
  font-size: 22px;
  margin-bottom: 25px;
  width:500px;
  font-weight: 400;
  color: #606161;
}

ul {
  color:#606161;
  font-size: 18px;
  font-weight: 350;
  margin-left: 85px;
  width:380px;
  list-style: inherit;
}

.test {
  clear:both;
  height:350px;
  width:100%;
  background: url(../images/testimonial_bg.jpg) no-repeat center top;
}

.quote {
  font-weight: 100;
  font-style: italic;
  padding: 60px 300px 0px 300px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 400px;


}

.name{
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color:white;
  padding: 10px 300px 0px 300px;
  font-style: italic;
}

.yellowsec {
  clear:both;
  height:55px;
  background-color: #f9e42e;
  padding:33px;
  margin-top:50px;
  padding-top: 12px;
}

.signup {
  height: 40px;
  width: 160px;
 padding-top: 5px;
 margin-left: 400px;
 margin-top: 10px;
 margin-right: auto;
 margin-bottom: 30px;
 font-size: 12px;
 font-weight: 800;
 color: white;
 text-align: center;
 border-radius: 5px;
background-color: #033048;
}

footer {
  clear:both;
  background-color: #121212;
  height: 280px;
  text-align: center;
  color:white;

}

footer h1 {
  padding-top: 50px;
  color: #f9e42e;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 40px;

}

.twitter {
  float:left;
  padding-left:450px;
}

.facebook {
  float:right;
  padding-right:450px;
}

footer h3 {
  clear:both;
  padding-top:70px;
  font-size: 10px;
  font-weight: 250;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




